body { /*Set background color and size*/
  background-color: #FFE4E1;
  font-family: "JetBrains Mono", monospace; /*External font family*/
}

*{
  box-sizing: border-box;
}

.div1 { /*align contents in div 1*/
  display: block; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 320px;
  margin: 0 auto;
  text-align: center;
}


.div1 h1 { /*Style the main header of the page*/
  font-family: 'Squada One', cursive !important; /*External font family*/
  font-size: 75px;
  color: snow;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 4px 6px #4B0082;
}

.instruction { /*Style the instructions on the page*/
  font-size: 18px;
  color: #191919;
  text-align: center;
  text-shadow: 3px 1px #E6E6FA;
  font-weight: bold;
}

.div1 button { /*Style button of the page*/
  background-color: #BC8F8F;
  border-color: white;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;  
  border-radius: 5px;
  font-weight: bold;
}

.pizza { /*Set background color for image and style as desired*/
  background-color: white; 
  border-radius: 10px;
  font-size: 17px;
  color: #000000;
  display: none;
  max-width: 320px;
  max-height: 240px; 
  text-align: center; 
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 265 auto;
}

.pizza h1 { /*Style the header of pizza*/
  font-size: 35px;
  color: #FF6347;
  text-align: center; 
  font-weight: bold;
}

.hamburger { /*Set background color for image, style and size of card*/
  background-color: #F0FFF0; 
  border-radius: 10px;
  font-size: 17px;
  text-align: center; 
  color: #000000;
  display: none;
  max-width: 320px;
  max-height: 240px; 
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 265 auto;
}

.hamburger h1{ /*Style the header of hamburger*/
  font-size: 35px;
  color: #228B22;
  text-align: center; 
  font-weight: bold;
}

.hot-dog { /*Set background color for image, style and size of card*/
  background-color: #D8BFD8; 
  border-radius: 10px;
  text-align: center; 
  display: none;
  max-width: 320px;
  max-height: 240px; 
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 265 auto;
}

.hot-dog  h1{ /*Style the header of hot dog*/
  font-size: 35px;
  color: #FFFF00;
  text-align: center; 
  font-weight: bold;
}

p { /*Align and style paragraph font*/
  text-align: justify;
  padding-top: 10px;
  font-size: 14px;
}

.error { /*Align, style and color error message*/
  font-size: 14px; 
  text-align: center;
  color: red; 
}