* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  /*Set background color and size*/
  background-color: #FFE4E1;
  font-family: "JetBrains Mono", monospace;
  /*External font family*/
  overflow-x: hidden;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
}

.header {
  /*Style the main header of the page*/
  display: block;
  margin: 30px;
}

.header__title {
  font-family: 'Squada One', cursive !important;
  /*External font family*/
  font-size: 5rem;
  color: snow;
  letter-spacing: 0.3rem;
  text-align: center;
  text-shadow: 4px 6px #4B0082;
}

.header__instruction {
  /*Style the instructions on the page*/
  font-size: 1.125rem;
  color: #191919;
  text-align: center;
  text-shadow: 3px 1px #E6E6FA;
  font-weight: bold;
  margin: 25px;
}

button {
  /*Style button of the page*/
  background-color: #BC8F8F;
  border-color: white;
  color: white;
  cursor: pointer;
  font-size: 0.9375rem;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  /*center button using margin 0, auto since you can't use flex here*/
}

.pizza {
  /*Set background color for image and style as desired*/
  background-color: white;
  border: hidden;
  border-radius: 10px;
  font-size: 1rem;
  color: #000000;
  display: none;
  width: 500px;
  height: auto;
  padding: 5px 40px 20px;
  text-align: center;
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.pizza__title {
  /*Style the header of pizza*/
  font-size: 1.7rem;
  margin: 10px 0px;
  color: #FF6347;
  text-shadow: none;
  font-weight: bold;
}

.pizza__image img {
  width: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.pizza__text {
  text-align: center;
  padding-top: 30px;
  font-size: 1rem;
}

.hamburger {
  /*Set background color for image, style and size of card*/
  background-color: #F0FFF0;
  border-radius: 10px;
  font-size: 1.0625rem;
  text-align: center;
  color: #000000;
  display: none;
  width: 500px;
  height: auto;
  padding: 5px 40px 20px;
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.hamburger__title {
  /*Style the header of hamburger*/
  font-size: 1.7rem;
  margin: 10px 0px;
  color: #228B22;
  text-shadow: none;
  font-weight: bold;
}

.hamburger__image img {
  width: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.hamburger__text {
  text-align: center;
  padding-top: 10px;
  font-size: 1rem;
}

.hot-dog {
  /*Set background color for image, style and size of card*/
  background-color: #D8BFD8;
  border-radius: 10px;
  text-align: center;
  display: none;
  width: 500px;
  padding: 5px 40px 20px;
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.hot-dog__title {
  /*Style the header of hot dog*/
  font-size: 2.1875rem;
  color: #FFFF00;
  margin: 10px 0px;
  text-shadow: none;
  text-align: center;
  font-weight: bold;
}

.hot-dog__image img {
  width: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.hot-dog__text {
  /*Align and style paragraph font*/
  text-align: center;
  padding-top: 10px;
  font-size: 1.0625rem;
}

.error {
  /*Align, style and color error message*/
  font-size: 1.0625rem;
  text-align: center;
  color: red;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .header__title {
    font-family: 'Squada One', cursive;
    /*External font family*/
    font-size: 3rem !important;
    color: snow;
    letter-spacing: 0.2rem;
    text-align: center;
    text-shadow: 2px 4px #4B0082;
  }
  .header__instruction {
    /*Style the instructions on the page*/
    font-size: 1rem;
    color: #191919;
    text-align: center;
    text-shadow: 3px 1px #E6E6FA;
    font-weight: bold;
    margin: 25px;
  }
  .pizza {
    /*Set background color for image and style as desired*/
    width: 50%;
  }
  .pizza__title {
    /*Style the header of pizza*/
    font-size: 1.3rem;
  }
  .pizza__image img {
    width: 100%;
  }
  .pizza__text {
    font-size: 1.1rem;
  }
  .hamburger {
    /*Set background color for image and style as desired*/
    width: 50%;
    background-color: #F0FFF0;
  }
  .hamburger__title {
    /*Style the header of pizza*/
    font-size: 1.5rem;
  }
  .hamburger__image img {
    width: 100%;
  }
  .hamburger__text {
    text-align: center;
    font-size: 1.02rem;
  }
  .hot-dog {
    /*Set background color for image, style and size of card*/
    width: 50%;
  }
  .hot-dog__title {
    /*Style the header of hot dog*/
    font-size: 1.4rem;
  }
  .hot-dog__image img {
    width: 100%;
  }
  .hot-dog__text {
    /*Align and style paragraph font*/
    font-size: 1.05rem;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 4.5rem;
  }
}

@media (max-width: 992px) {
  .header__title {
    font-size: 4.5rem;
  }
}
/*# sourceMappingURL=style.css.map */